<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<header style="background-color: rgb(198, 163, 198); border-radius: 5%; display: inline-block;">
    <a href="/new">
        add a new message !
    </a>
</header>
<h1>
    <% rows.map((row) => {  %>
        <div style="width: 10rem; height: 10rem; background-color: aliceblue; font-size: 1rem; margin: 1rem;">
            <li><%= row.author%></li>
            <li><%= row.message%></li>
        </div>
    <% }) %>
</h1>
    
</body>
</html>